.registerDemo{
  // width: 405px!important;
}
.login-container {
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  background-clip: padding-box;
  margin: 40px auto;
  width: 300px;
  padding: 35px 150px 15px 150px;
  background: #fff;
  // border: 1px solid #eaeaea;
  // box-shadow: 0 0 25px #cac6c6;
  .title {
    margin: 0px auto 40px auto;
    text-align: center;
    color: #505458;
  }
  .remember {
    margin: 0px 0px 35px 0px;
  }
}

a {
  text-decoration: none;
  color: #ccc;
}
h3 {
  color: #ccc;
}