.el-input-group__append{
  width: 90px;
}
.verify-bar-area .verify-msg{
  position: absolute;
}
.verify-btn{
  display: none;
}
.dialog_body{
  height: 600px;
  overflow: hidden;
  overflow-y: auto;
}
.verify_main{
  margin-bottom: 20px;
}