.ly_title_container{
  background-color: #fff;
  box-shadow:  0 0 25px #cac6c6;
  padding: 20px;
  .tl_title{
    .tl_title_content{
      font-size: 20px;
      color: rgba(0,0,0,0.85);
      font-weight: 600;
    }
  }
}